header{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT23pDEaTPhSr6cF-jfQYSxV31ceJqzYklJQC6VSJVMblhLp8mo");
  height:100vh;
  background-size: cover;
  background-position: fixed;
}
