header{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS89FB523FGrvRozOowc9VJaaVUghX2R7BGI1YqEsg3q4wLDZLjaA");
  height:100vh;
  background-size: cover;
  background-position: absolute;
}
nav{
  float: right;
  list-style: none;
  margin-top: 35px;
}
nav li{
  display: inline-block;
}
nav li a:hover{
  border: 3px solid blue;
}
nav li a {
  color:black;
  text-decoration: none;
  font-size: 30px;
  padding: 5px;
}
#head{
  text-align: center;
}

  h1{
    text-align:center;
    font-size:60px;
    color:black;
    top:322px;
    position:relative;
    left:196px;
    font-family: 'Coustard', serif;

  }
  h2{
  text-align:center;
  font-size:50px;
  color:black;
  position:relative;
  top: 279px;
  left: 21px;
  font-family: 'Coustard', serif;

  }
